# Supermarket's behavior in the time of Covid-19
## using data analysis

food_beer_products.csv

# Summary:

 - I worked with a database containing information on 63 million sales record

- The analysis was done using the amount of sales from 2019 to 2021

- Looking at Food sales trend, Consumer and Prices behavior 
    over the following pandemic scenario:
    
    Before Covid-19
    
    During Covid-19
    
    After Vaccine

Family Products analysed

- BEAN
- BEER
- CANDY
- CHICKEN_MEAT
- COFFE&TEA
- COW_MEAT
- FISH_MEAT
- FRUIT
- NATURAL
- PIG_MEAT
- RICE
- SUGAR

LIBRARIES USED

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## FOOD & BEER DATAFRAME

In [ ]:
df_food_beer = pd.read_csv('food_beer_products.csv', sep=';', header=None,
           names=['Product', 'Qty', 'Pack Price','Total Price','Package','Name','Date'])

In [ ]:
def limpar_area(row):
    #try:
        row = row.strip()
        return row

In [ ]:
df_food_beer["Package"] = df_food_beer["Package"].apply(limpar_area)

In [ ]:
df_food_beer["Name"] = df_food_beer["Name"].apply(limpar_area)

In [ ]:
df_food_beer["Product"] = df_food_beer["Product"].apply(limpar_area)

In [ ]:
# Transforming column 'Date' to datetime

df_food_beer['Date'] = pd.to_datetime(df_food_beer['Date'], format='%Y-%m-%d')

# Creating new columns 'Year', 'Month', 'Day'

df_food_beer['Year']  = df_food_beer['Date'].dt.strftime('%Y')
df_food_beer['Month'] = df_food_beer['Date'].dt.strftime('%m')
df_food_beer['Day']  = df_food_beer['Date'].dt.strftime('%d')

## General overview Amount of Sales at each odd product

In [ ]:
#df_food_beer.groupby(['Product','Year'])[['Year','Qty','Total Price']].agg(['mean','sum','count'])

In [1]:
# Maiores altas de vendas e faturamento

#df_food_beer.groupby(['Product','Year'])['Total Price'].sum().sort_values(ascending=False)
#df_food_beer.groupby('Product')['Qty'].sum().sort_values(ascending=False)

In [ ]:
#df_food_beer[['Product','Qty','Total Price']].groupby('Product').agg(['mean','sum','count']).sort_values(by='Product')

In [2]:
#df_food_beer['Unit Price'] = df_food_beer['Total Price']/df_food_beer['Qty']

# RIGHT BELOW IS THE BEHAVIOR OVERVIEW OF EACH PRODUCT

## Data Pre-processing

- data cleaning
- data transformation
- data reduction

## BEER DATAFRAME

In [ ]:
df_beer = df_food_beer[df_food_beer['Product'] == 'BEER']

In [ ]:
df_beer = df_beer.reset_index(drop=True)

In [ ]:
df_beer['Unit Price'] = df_beer['Total Price']/df_beer['Qty']

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('cx', 'un')
    row = row.replace('cxa', 'un')
    row = row.replace('la', 'un')
    row = row.replace('gf', 'un')
    row = row.replace('una', 'un')
    return row

In [ ]:
df_beer['Package'] = df_beer['Package'].apply(limpar_area)

In [ ]:
df_beer['Name'] = df_beer['Name'].apply(limpar_area)

In [ ]:
df_beer = df_beer[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]
df_beer.head(3)

In [ ]:
df_beer_agg = df_beer.groupby(['Year', 'Month','Day']).sum()
df_beer_agg

* Creating df_beeer2 to plot the chart without Total Price

In [ ]:
df_beer2 = df_beer[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_beer2.head(3)

In [ ]:
df_beer_date2 = df_beer2.groupby(['Date']).sum()

In [ ]:
df_beer_date2.resample('1M').sum().plot(figsize=(9,4))

## COW MEAT DATAFRAME

In [ ]:
df_cow_meat = df_food_beer[df_food_beer['Product'] == 'COW_MEAT']

In [ ]:
df_cow_meat = df_cow_meat.reset_index(drop=True)

In [ ]:
df_cow_meat['Unit Price'] = df_cow_meat['Total Price']/df_cow_meat['Qty']

In [ ]:
df_cow_meat = df_cow_meat[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]
df_cow_meat.head()

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    return row

In [ ]:
df_cow_meat["Package"]=df_cow_meat["Package"].apply(limpar_area)

In [ ]:
# Dropping row where PACKAGE == 'la', 'pc', 'cx', 'un'
df_cow_meat.drop(df_cow_meat[df_cow_meat.Package != 'kg'].index, inplace=True)

In [ ]:
df_cow_meat_agg = df_cow_meat.groupby(['Year', 'Month','Day']).sum()
df_cow_meat_agg

* Creating df_cow_meat2 to plot the chart without Total Price

In [ ]:
df_cow_meat2 = df_cow_meat[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_cow_meat2.head(3)

In [ ]:
df_cow_meat2_date2 = df_cow_meat2.groupby(['Date']).sum()

In [ ]:
df_cow_meat2_date2.resample('1M').sum().plot(figsize=(9,4))

## CHICKEN MEAT DATAFRAME

In [ ]:
df_chicken_meat = df_food_beer[df_food_beer['Product'] == 'CHICKEN_MEAT']

In [ ]:
df_chicken_meat = df_chicken_meat.reset_index(drop=True)

In [ ]:
df_chicken_meat['Package'].value_counts()

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('cxa', 'kg')
    row = row.replace('cx', 'kg')
    row = row.replace('pc', 'kg')
    row = row.replace('un', 'kg')
    return row

In [ ]:
df_chicken_meat["Package"]=df_chicken_meat["Package"].apply(limpar_area)

In [ ]:
df_chicken_meat["Name"]=df_chicken_meat["Name"].apply(limpar_area)

In [ ]:
df_chicken_meat['Package'].value_counts()

In [ ]:
# Dropping multiple rows based on column value 

indexNames = df_chicken_meat[df_chicken_meat['Name'].isin(['tirinha fr aurora 300gr', 'mini chicken frango', 'ave fiesta temp org seara','av if chester tradic kg','auroggets queijo 300gr','auroggets crocante 300gr','pt fgo seara desfiado 400','tekitos seara preque 120','iscas aurora frang 300gr','auroggets trad 300gr','carne moida lar 500gr','tekitos pote 500gr','iscas aurora temp 300gr','nugget pr.lq.60m promo','peito frango ceratti 100g','tekitos seara pre/que 120','nugget pr.pom.40g','nugget mar.lq.60m promo','nugget lq.incolor 60','nugget marrom pom.40','nugget marrom lq.60m','file frango emp.nob 300gr','strogonof.seara fra 500gr','strogonof.seara fra 500gr','nugget lq.branco 60m','iscas seara .frang 300gr', 'tekitos pote 500gr'])].index

In [ ]:
df_chicken_meat.drop(indexNames, inplace=True)

In [ ]:
df_chicken_meat['Unit Price'] = df_chicken_meat['Total Price']/df_chicken_meat['Qty']

In [ ]:
df_chicken_meat_agg = df_chicken_meat.groupby(['Year', 'Month','Day']).sum()
df_chicken_meat_agg.head()

* Creating df_chicken_meat2 to plot the chart without Total Price

In [ ]:
df_chicken_meat2 = df_chicken_meat[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_chicken_meat2.head(1)

In [ ]:
df_chicken_meat2_date2 = df_chicken_meat2.groupby(['Date']).sum()

In [ ]:
df_chicken_meat2_date2.resample('1M').sum().plot(figsize=(9,4))

## PIG MEAT DATAFRAME

In [ ]:
df_pig_meat = df_food_beer[df_food_beer['Product'] == 'PIG_MEAT']

In [ ]:
df_pig_meat = df_pig_meat.reset_index(drop=True)

In [ ]:
df_pig_meat['Unit Price'] = (df_pig_meat['Total Price'])/(df_pig_meat['Qty'])

In [ ]:
df_pig_meat = df_pig_meat[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
# function to clean empty spaces & replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()

    return row

In [ ]:
df_pig_meat["Package"]=df_pig_meat["Package"].apply(limpar_area)

In [ ]:
df_pig_meat["Name"]=df_pig_meat["Name"].apply(limpar_area)

In [ ]:
# Dropping row where PACKAGE == cxa, cx, pt, la, un, pc

df_pig_meat.drop(df_pig_meat[df_pig_meat.Package != 'kg'].index, inplace=True)

In [ ]:
df_pig_meat['Package'].value_counts()

In [ ]:
df_pig_meat_agg = df_pig_meat.groupby(['Year', 'Month','Day']).sum()
df_pig_meat_agg

* Creating df_pig_meat2 to plot the chart without Total Price

In [ ]:
df_pig_meat2 = df_pig_meat[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_pig_meat2.head(3)

In [ ]:
df_pig_meat2_date2 = df_pig_meat2.groupby(['Date']).sum()

In [ ]:
df_pig_meat2_date2.resample('1M').sum().plot(figsize=(9,4))

## FISH MEAT DATAFRAME

In [ ]:
df_fish_meat = df_food_beer[df_food_beer['Product'] == 'FISH_MEAT']

In [ ]:
df_fish_meat = df_fish_meat.reset_index(drop=True)

In [ ]:
df_fish_meat['Unit Price'] = df_fish_meat['Total Price']/df_fish_meat['Qty']

In [ ]:
#df_fish_meat = [['Product', 'Qty','Unit Price','Total Price','Package','Name','Date']]

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()

    return row

In [ ]:
df_fish_meat["Package"]=df_fish_meat["Package"].apply(limpar_area)

In [ ]:
df_fish_meat["Name"]=df_fish_meat["Name"].apply(limpar_area)

In [ ]:
# Dropping row where PACKAGE == pc, vd, la, un

df_fish_meat.drop(df_fish_meat[df_fish_meat.Package != 'kg'].index, inplace=True)

In [ ]:
df_fish_meat_agg = df_fish_meat.groupby(['Year', 'Month','Day']).sum()
df_fish_meat_agg.head()

* Creating df_fish_meat2 to plot the chart without Total Price

In [ ]:
df_fish_meat2 = df_fish_meat[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_fish_meat2.head(3)

In [ ]:
df_fish_meat2_date2 = df_fish_meat2.groupby(['Date']).sum()

In [ ]:
df_fish_meat2_date2.resample('1M').sum().plot(figsize=(9,4))

# RICE DATAFRAME

In [ ]:
df_rice = df_food_beer[df_food_beer['Product'] == 'RICE']

In [ ]:
df_rice = df_rice.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('pc', 'un')

    return row

In [ ]:
df_rice.Package = df_rice.Package.apply(limpar_area)

In [ ]:
df_rice.Name = df_rice.Name.apply(limpar_area)

In [ ]:
# Dropping row where PACKAGE != un

df_rice.drop(df_rice[df_rice.Package != 'un'].index, inplace=True)

In [ ]:
df_rice['Unit Price'] = df_rice['Total Price']/df_rice['Qty']

In [ ]:
df_rice = df_rice[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_rice_agg = df_rice.groupby(['Year', 'Month','Day']).sum()
df_rice_agg.head

* Creating df_rice2 to plot the chart without Total Price

In [ ]:
df_rice2 = df_rice[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_rice2_date = df_rice2.groupby(['Date']).sum()

In [ ]:
df_rice2_date.resample('1M').sum().plot(figsize=(9,4))

## BEAN DATAFRAME

In [ ]:
df_bean = df_food_beer[df_food_beer['Product'] == 'BEAN']

In [ ]:
df_bean = df_bean.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('pc', 'un')
    row = row.replace('la', 'un')

    return row

In [ ]:
df_bean.Package = df_bean.Package.apply(limpar_area)

In [ ]:
df_bean.Name = df_bean.Name.apply(limpar_area)

In [ ]:
df_bean.drop(df_bean[df_bean.Package != 'un'].index, inplace=True)

In [ ]:
df_bean['Unit Price'] = df_bean['Total Price']/df_bean['Qty']

In [ ]:
df_bean = df_bean[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_bean_agg = df_bean.groupby(['Year', 'Month','Day']).sum()
df_bean_agg

* Creating df_bean2 to plot the chart without Total Price

In [ ]:
df_bean2 = df_bean[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_bean2_date = df_bean2.groupby(['Date']).sum()

In [ ]:
df_bean2_date.resample('1M').sum().plot(figsize=(9,4))

## COFFE&TEA DATAFRAME

In [ ]:
df_coffe_tea = df_food_beer[df_food_beer['Product'] == 'COFFE&TEA']

In [ ]:
df_coffe_tea = df_coffe_tea.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('vd', 'un')
    row = row.replace('cxa', 'un')
    row = row.replace('cx', 'un')
    row = row.replace('pc', 'un')

    return row

In [ ]:
df_coffe_tea.Package = df_coffe_tea.Package.apply(limpar_area)

In [ ]:
df_coffe_tea = df_coffe_tea.reset_index(drop=True)

In [ ]:
df_coffe_tea.drop(df_coffe_tea[df_coffe_tea.Package != 'un'].index, inplace=True)

In [ ]:
df_coffe_tea['Unit Price'] = df_coffe_tea['Total Price']/df_coffe_tea['Qty']

In [ ]:
df_coffe_tea = df_coffe_tea[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_coffe_tea_agg = df_coffe_tea.groupby(['Year', 'Month','Day']).sum()
df_coffe_tea_agg.head()

* Creating df_coffe_tea2 to plot the chart without Total Price

In [ ]:
df_coffe_tea2 = df_coffe_tea[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_coffe_tea2_date = df_coffe_tea2.groupby(['Date']).sum()

In [ ]:
df_coffe_tea2_date.resample('1M').sum().plot(figsize=(9,4))

## CANDY DATAFRAME

In [ ]:
df_candy = df_food_beer[df_food_beer['Product'] == 'CANDY']

In [ ]:
df_candy = df_candy.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('cj', 'un')
    row = row.replace('cxa', 'cx')
    #row = row.replace('cx', 'un')
    #row = row.replace('pc', 'un')

    return row

In [ ]:
df_candy['Package'] = df_candy['Package'].apply(limpar_area)

In [ ]:
df_candy['Name'] = df_candy['Name'].apply(limpar_area)

In [ ]:
#[doce.lower() for doce in ['BOMB LACTA FAVOR 250,6 GR','BOMB.ESPECIAL.251GR','BOMB.GAROTO 250GR','BOMB.GAROTO 300GR','BOMB.ESPECIAL.300GR']]

In [ ]:
df_candy = df_candy[(df_candy['Package'] == 'un') | (df_candy['Name'].isin(['bomb lacta favor 250,6 gr',
 'bomb.especial.251gr',
 'bomb.garoto 250gr',
 'bomb.garoto 300gr',
 'bomb.especial.300gr']))]

In [ ]:
df_candy['Unit Price'] = df_candy['Total Price']/df_candy['Qty']

In [ ]:
df_candy = df_candy[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

* Creating df_candy2 to plot the chart without Total Price

In [ ]:
df_candy2 = df_candy[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_candy2_date = df_candy2.groupby(['Date']).sum()

In [ ]:
df_candy2_date.resample('1M').sum().plot(figsize=(9,4))

## FRUIT DATAFRAME

In [ ]:
df_fruit = df_food_beer[df_food_beer['Product'] == 'FRUIT']

In [ ]:
df_fruit = df_fruit.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    #row = row.replace('cj', 'un')
    #row = row.replace('cxa', 'cx')
    #row = row.replace('cx', 'un')
    #row = row.replace('pc', 'un')

    return row

In [ ]:
df_fruit['Package'] = df_fruit['Package'].apply(limpar_area)

In [ ]:
df_fruit['Name'] = df_fruit['Name'].apply(limpar_area)

In [ ]:
df_fruit['Package'].value_counts()

In [ ]:
#b = a.groupby("Name").filter(lambda x: len(x) <73)

In [ ]:
#b['Name'].value_counts()

In [ ]:
# to use in kg
frutas = ['uva niagara vit bdja 500g','melao amarelo peca,maca fuji kg','melancia grauda un','abacaxi perola un',
   ' uva ssemente isis 450g','uva ssemente thomp 450g','hort maca fuji kg','morango bdj','mexerica carioca kg',
    'hort melao amarelo peca','melancia kg','abacaxi perola/hawai 1un','coco verde kg','melao sapo peca','pitaya kg',
    'melao amarelo redinha un','hort melancia       un','hort coco verde     kg','uva s/ semente bdja 500gr',
          'hort melancia baby un','acerola 500gr bdja','uva niagara bandja 450g','hort maca argentina kg','hort coco verde kg','uva ssemente bdja',
    'morango bdj 295g','abacaxi perolahawai 1un','hort acerola 500gr bdja','carambola bja 300g','hort melancia grauda un',
    'hort kiwi bandeja 600gr','hort melao sapo peca','kiwi bdja 600gr','ef morango bdja','kiwi t.monica bdja 600gr','figo bdja kg',
   ' abacaxi perola kg','uva s/semente thomp 450g','uva s/semente bdja','kiwi monica bdja 600gr','maca fuji moinho azul 1kg',
    'uva niagara bandja 495g']

In [ ]:
df_fruit = df_fruit[(df_fruit['Package'] == 'kg') | (df_fruit['Name'].isin(['uva niagara vit bdja 500g','melao amarelo peca,maca fuji kg','melancia grauda un','abacaxi perola un',
   ' uva ssemente isis 450g','uva ssemente thomp 450g','hort maca fuji kg','morango bdj','mexerica carioca kg',
    'hort melao amarelo peca','melancia kg','abacaxi perola/hawai 1un','coco verde kg','melao sapo peca','pitaya kg',
    'melao amarelo redinha un','hort melancia       un','hort coco verde     kg','uva s/ semente bdja 500gr',
    'hort melancia baby un','acerola 500gr bdja','uva niagara bandja 450g','hort maca argentina kg','hort coco verde kg','uva ssemente bdja',
    'morango bdj 295g','abacaxi perolahawai 1un','hort acerola 500gr bdja','carambola bja 300g','hort melancia grauda un',
    'hort kiwi bandeja 600gr','hort melao sapo peca','kiwi bdja 600gr','ef morango bdja','kiwi t.monica bdja 600gr','figo bdja kg',
   ' abacaxi perola kg','uva s/semente thomp 450g','uva s/semente bdja','kiwi monica bdja 600gr','maca fuji moinho azul 1kg',
    'uva niagara bandja 495g']))]

In [ ]:
df_fruit['Unit Price'] = df_fruit['Total Price']/df_fruit['Qty']

In [ ]:
df_fruit = df_fruit[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

* Creating df_sugar2 to plot the chart without Total Price

In [ ]:
df_fruit2 = df_fruit[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_fruit2_date = df_fruit2.groupby(['Date']).sum()

In [ ]:
df_fruit2_date.resample('1M').sum().plot(figsize=(9,4))

## SUGAR DATAFRAME

In [ ]:
df_sugar = df_food_beer[df_food_beer['Product'] == 'SUGAR']

In [ ]:
df_sugar = df_sugar.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('kg', 'un')
    row = row.replace('pc', 'un')

    return row

In [ ]:
df_sugar['Package'] = df_sugar.Package.apply(limpar_area)

In [ ]:
df_sugar['Name'] = df_sugar.Name.apply(limpar_area)

In [ ]:
df_sugar.Package.value_counts()

In [ ]:
df_sugar['Unit Price'] = df_sugar['Total Price']/df_sugar['Qty']

In [ ]:
df_sugar = df_sugar[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_sugar_agg = df_sugar.groupby(['Year', 'Month','Day']).sum()
df_sugar_agg.head()

* Creating df_sugar2 to plot the chart without Total Price

In [ ]:
df_sugar2 = df_sugar[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_sugar2_date = df_sugar2.groupby(['Date']).sum()

In [ ]:
df_sugar2_date.resample('1M').sum().plot(figsize=(9,4))

## NATURAL DATAFRAME

In [ ]:
df_natural = df_food_beer[df_food_beer['Product'] == 'NATURAL']

In [ ]:
df_natural = df_natural.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
    #try:
    row = str(row).strip().lower()
    row = row.replace('cx', 'un')
    row = row.replace('cxa', 'un')
    row = row.replace('una', 'un')

    return row

In [ ]:
df_natural['Package'] = df_natural.Package.apply(limpar_area)

In [ ]:
df_natural['Name'] = df_natural.Name.apply(limpar_area)

In [ ]:
df_natural['Package'].value_counts()

In [ ]:
df_natural['Unit Price'] = df_natural['Total Price']/df_natural['Qty']

In [ ]:
df_natural = df_natural[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

* Creating df_natural to plot the chart without Total Price

In [ ]:
df_natural2 = df_natural[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_natural2.head()

In [ ]:
df_sugar2_date = df_natural2.groupby(['Date']).sum()

In [ ]:
df_sugar2_date.resample('1M').sum().plot(figsize=(9,4))

## CONCATENATE ALL DFs

In [ ]:
# df_food_beer2 = pd.concat([
#     df_beer2,df_cow_meat2,df_chicken_meat2,df_pig_meat2,df_fish_meat2,df_rice2,df_bean2,
#     df_coffe_tea2,df_candy2,df_fruit2,df_sugar2,df_natural2])

In [ ]:
#df_food_beer2 = df_food_beer2.reset_index(drop=True)

In [ ]:
#df_food_beer2

In [ ]:
#df_food_beer2.to_excel('ALL_food_beer_products', index=False, sep=',', decimal='.')

# ODD PRODUCTS

In [ ]:
df_odd_products = pd.read_csv('odd_products.csv',sep=';' ,header=None,
           names=['Product', 'Qty', 'Pack Price', 'Total Price','Package','Name','Date'])

In [ ]:
def limpar_area(row):
    #try:
        row = row.strip()
        return row

In [ ]:
df_odd_products["Package"] = df_odd_products["Package"].apply(limpar_area)

In [ ]:
df_odd_products["Name"] = df_odd_products["Name"].apply(limpar_area)

In [ ]:
df_odd_products["Product"] = df_odd_products["Product"].apply(limpar_area)

In [ ]:
# Transforming column 'Date' to datetime

df_odd_products['Date'] = pd.to_datetime(df_odd_products['Date'], format='%Y-%m-%d')

# Creating new columns 'Year', 'Month', 'Day'

df_odd_products['Year']  = df_odd_products['Date'].dt.strftime('%Y')
df_odd_products['Month'] = df_odd_products['Date'].dt.strftime('%m')
df_odd_products['Day']  = df_odd_products['Date'].dt.strftime('%d')

In [ ]:
df_odd_products

## TOILET PAPER DATAFRAME

In [ ]:
df_paper = df_odd_products[df_odd_products['Product'] == 'TOILET PAPER']

In [ ]:
df_paper = df_paper.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
        row = str(row).strip().lower()
        row = row.replace('pc', 'un')
        row = row.replace('la', 'un')

        return row

In [ ]:
df_paper['Package'] = df_paper.Package.apply(limpar_area)

In [ ]:
df_paper['Name'] = df_paper.Name.apply(limpar_area)

In [ ]:
# Adding new column Unit Price

df_paper['Unit Price'] = df_paper['Pack Price']/df_paper['Qty']

In [ ]:
# dropped 'Pack Price'

df_paper = df_paper[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

* Creating df_paper2 to plot the chart without Total Price

In [ ]:
df_paper2 = df_paper[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]

In [ ]:
df_paper2_date2 = df_paper2.groupby(['Date']).sum()

In [ ]:
df_paper2_date2.resample('30D').sum().plot(figsize=(9,4))

## PET DATAFRAME

In [ ]:
df_pet = df_odd_products[df_odd_products['Product'] == 'PET']

In [ ]:
df_pet = df_pet.reset_index(drop=True)

In [ ]:
# function to replace types on PACKAGE column

def limpar_area(row):
        
        row = str(row).strip().lower()
        row = row.replace('la', 'un')
        row = row.replace('pc', 'un')
        row = row.replace('gf', 'un')
        row = row.replace('VDO', 'un')
        row = row.replace('vdo', 'un')
        row = row.replace('vd', 'un')
        row = row.replace('cx', 'un')

        return row

In [ ]:
df_pet['Package'] = df_pet.Package.apply(limpar_area)

In [ ]:
df_pet['Name'] = df_pet.Name.apply(limpar_area)

In [ ]:
# Adding new column Unit Price

df_pet['Unit Price'] = df_pet['Pack Price']/df_pet['Qty']

In [ ]:
df_pet = df_pet[['Product','Qty','Unit Price','Total Price','Package','Name','Date','Year','Month','Day']]

* Creating df_pet to plot the chart without Total Price

In [ ]:
df_pet2 = df_pet[['Product','Qty','Unit Price','Package','Name','Date','Year','Month','Day']]
df_pet2.head()

In [ ]:
df_pet_date2 = df_pet2.groupby(['Date']).sum()

In [ ]:
df_pet_date2.resample('30D').sum().plot(figsize=(9,4))

## CONCATE DF FOOD + DF ODD PRODUCTS

In [ ]:
# df_odd_food_beer = pd.concat([
#      df_beer2,df_cow_meat2,df_chicken_meat2,df_pig_meat2,df_fish_meat2,df_rice2,df_bean2,
#      df_coffe_tea2,df_candy2,df_fruit2,df_sugar2,df_natural2, df_paper2, df_pet2])

In [ ]:
#df_odd_food_beer = df_odd_food_beer.reset_index(drop=True)

In [ ]:
#df_odd_food_beer.to_excel('ALL_odd_food_beer_products', index=False, decimal='.')#,sep=',')

In [ ]:
#df_odd_food_beer.to_csv('ALL_odd_food_beer_products', index=False, decimal='.',sep=',')

## REPRESENTATIONS

In [ ]:
df_main_qty_sum = round(df_food_beer.Qty.sum(),2)
df_main_qty_sum

In [ ]:
df_beer_qty_sum = round(df_beer.Qty.sum(),2)
df_beer_qty_sum

# BEER REPRESENTS 41,06% OF SALES
beer_rep = round((df_beer_qty_sum/df_main_qty_sum)*100,2)
beer_rep

In [ ]:
df_cow_qty_sum = round(df_cow_meat.Qty.sum(),2)
df_cow_qty_sum

# COW MEAT REPRESENTS 3,89% OF SALES
cow_rep = round((df_cow_qty_sum/df_main_qty_sum)*100,2)
cow_rep

## TOTAL REVENUE - ALL TIME 19x20x21

In [ ]:
#df_main_rev = round(df_food_beer['Unit Price'].sum(),2)
#df_main_rev

In [ ]:
df_main_rev = round(df_food_beer['Total Price'].sum(),2)
df_main_rev

In [ ]:
# COW MEAT REPRESENTS % IN REVENUE
(round(df_cow_meat['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# BEER REPRESENTS % IN REVENUE
(round(df_beer['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# PIG MEAT REPRESENTS % IN REVENUE
(round(df_pig_meat['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# CHICKEN MEAT REPRESENTS % IN REVENUE
(round(df_chicken_meat['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# CANDY REPRESENTS % IN REVENUE
(round(df_candy['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# RICE REPRESENTS % IN REVENUE
(round(df_rice['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# COFFE&TEA REPRESENTS % IN REVENUE
(round(df_coffe_tea['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# BEANS REPRESENTS % IN REVENUE
(round(df_bean['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# FRUIT REPRESENTS % IN REVENUE
(round(df_fruit['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# SUGAR REPRESENTS % IN REVENUE
(round(df_sugar['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# FISH MEAT REPRESENTS % IN REVENUE
(round(df_fish_meat['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

In [ ]:
# NATURAL REPRESENTS % IN REVENUE
(round(df_natural['Total Price'].sum(),2)/round(df_food_beer['Total Price'].sum(),2))*100

## Creating DF Filter to Revenue and Sales calculations

In [ ]:
df_filter = df_food_beer[['Product', 'Year', 'Month','Date', 'Qty', 'Total Price']]

## DF PRE PANDEMIC

In [ ]:
pre_df_filter = df_filter[(df_filter['Date'] >= '2019-01-01') & (df_filter['Date'] <= '2020-03-15')]

- REVENUE PRE

In [ ]:
round(pre_df_filter['Total Price'].sum(),2)

In [ ]:
# TOTAL PRODUCT REVENUE PRE PANDEMIC

p = round(pre_df_filter.groupby('Product')['Total Price'].sum(),2)

In [ ]:
# %%% REVENUE

round(pre_df_filter.groupby('Product')['Total Price'].sum(),2)/round(pre_df_filter['Total Price'].sum(),2)*100

- AMOUNT OF SALES PRE

In [ ]:
# TOTAL PRODUCT SALES (QTY) PRE PANDEMIC

pre_qty = round(pre_df_filter.groupby('Product')['Qty'].sum(),2)

In [ ]:
# %%% SALES

round(pre_df_filter.groupby('Product')['Qty'].sum(),2)/round(pre_df_filter['Qty'].sum(),2)*100

## DF DURING PANDEMIC

In [ ]:
dur_df_filter = df_filter[(df_filter['Date'] > '2020-03-15') & (df_filter['Date'] <= '2021-01-17')]

- REVENUE DURING

In [ ]:
round(dur_df_filter['Total Price'].sum(),2)

In [ ]:
# TOTAL PRODUCT REVENUE DURING PANDEMIC

d = round(dur_df_filter.groupby('Product')['Total Price'].sum(),2)

In [ ]:
# %%% REVENUE
round(dur_df_filter.groupby('Product')['Total Price'].sum(),2)/round(dur_df_filter['Total Price'].sum(),2)*100

- AMOUNT OF SALES DURING

In [ ]:
# TOTAL PRODUCT SALES DURING PANDEMIC

dur_qty = round(dur_df_filter.groupby('Product')['Qty'].sum(),2)

In [ ]:
round(dur_df_filter.groupby('Product')['Qty'].sum(),2)/round(dur_df_filter['Qty'].sum(),2)*100

## DF AFTER VACCINE

In [ ]:
after_df_filter = df_filter[(df_filter['Date'] > '2021-01-17')]

- REVENUE AFTER

In [ ]:
round(after_df_filter['Total Price'].sum(),2)

In [ ]:
# TOTAL PRODUCT REVENUE AFTER VACCINE

a = round(after_df_filter.groupby('Product')['Total Price'].sum(),2)

In [ ]:
# %%% REVENUE

round(after_df_filter.groupby('Product')['Total Price'].sum(),2)/round(after_df_filter['Total Price'].sum(),2)*100

 - AMOUNT OF SALES AFTER

In [ ]:
round(after_df_filter['Qty'].sum(),2)

In [ ]:
# TOTAL PRODUCT SALES AFTER VACCINE

af_qty = round(after_df_filter.groupby('Product')['Qty'].sum(),2)

In [ ]:
# %%%

round(after_df_filter.groupby('Product')['Qty'].sum(),2)/round(after_df_filter['Qty'].sum(),2)*100

## Calculations of Increase or Decrease Margins (Revenue) in %

- From 2019 to march 2020

In [ ]:
from19_20 = ((d/p)-1)*100
from19_20

- From march 2020 to 2021

In [ ]:
from20_21 = ((a/d)-1)*100
from20_21

In [ ]:
# TOTAL INCREASE REVENUE - ALL TIME

most_value_products = from19_20 + from20_21
most_value_products

## Calculations of Increase or Decrease Margins (Qty/ Sales) in %

- From 2019 to march 2020 SALES

In [ ]:
from19_20_qty = ((dur_qty/pre_qty)-1)*100
from19_20_qty

- From 2020 to march 2021 SALES

In [ ]:
from20_21_qty = ((af_qty/dur_qty)-1)*100
from20_21_qty

- Representação REVENUE / SALES (%)
- 
- Representação Antes da pandemia:
- 
- BEAN             4.8 / 4.48
- BEER            20.3 / 47.5
- CANDY            8.9 / 9.5
- CHICKEN_MEAT     8.6 / 4.2
- COFFE&TEA        6.4 / 4.4
- COW_MEAT        18.6 / 6.0
- FISH_MEAT        2.3 / 1.8
- FRUIT            5.2 / 6.9
- NATURAL          0.1 / 0.3
- PIG_MEAT        14.3 / 4.6
- RICE             6.9 / 2.9
- SUGAR            3.4 / 7.4
- 
- 
- Representação DURANTE a pandemia:
- 
- BEAN             5.0 / 4.3
- BEER            16.9 / 43.9
- CANDY            9.5 / 10.4
- CHICKEN_MEAT     8.9 / 5.02
- COFFE&TEA        6.1 / 4.7
- COW_MEAT        19.3 / 6.4
- FISH_MEAT        2.9 / 2.1
- FRUIT            5.2 / 7.2
- NATURAL          0.2 / 0.3
- PIG_MEAT        15.3 / 5.3
- RICE             7.4 / 2.7
- SUGAR            3.2 / 7.6
- 
- Representação PÓS vacina:
- BEAN             4.9 / 5.1
- BEER            10.8 / 33.0
- CANDY           10.0 / 13.0
- CHICKEN_MEAT     9.9 / 5.5
- COFFE&TEA        7.1 / 5.3
- COW_MEAT        18.4 / 6.3
- FISH_MEAT        3.1 / 2.3
- FRUIT            5.6 / 9.7
- NATURAL          0.2 / 0.4
- PIG_MEAT        16.9 / 6.9
- RICE             8.9 / 3.5
- SUGAR            4.2 / 9.4